logs/
__pycache__/
.env

# dummy datasets for smoke testsing
# ----------------------------------
datasets_claudeopus_sample 
datasets_hard_333.sampleWithSol/
# ----------------------------------


# ===============================================================================================
# Phase 1A: Check possibility of detecting & steering `HUMAN TRAIT` (4 classes) with TalkTuner strategy
# ===============================================================================================
# datasets generated with llama
# -----------------------------
# dataset with duplicates
datasets_llama2 
# datasets_llama2 dataset deduplicated
datasets_llama2_sample2 
# -----------------------------

# datasets generated with Claude opus
# -----------------------------------
datasets_claudeopus_sample2


# Checkpoints with llama
# -------------------------------
# created with dataset that had duplicates
probe_checkpoints.withLLaMaDuplicates 
# created with dedups after combining with Claude Opus Data
probe_checkpoints.withLLaMaOpus
# -------------------------------
# ===============================================================================================



# ===============================================================================================
# Phase 1B: Train a better toy model on `HUMAN TRAIT` (4 classes) with TalkTuner strategy
# ===============================================================================================
# dataset (todo: need to check issues)
# +sol
datasets_sol_100 
# checkpoints (trained on sol+opus+llama)
probe_checkpoints.withLLaMaOpusSol


# =================================================================================================
# Phase 2A: SeeGULL v0.1, trained on general gullibility (hi/lo) and tested on truth qa qns that are not "not hard"
# =================================================================================================
# dataset (same data as phase 1b, just kept only the gullible samples)
datasets_regular_gullibility_170
# evaluated on "not" hard part of truthqa for 
datasets_defense_484
# checkpoints
probe_checkpoints.withRegularGullibility


# =================================================================================================
# Phase 2B: SeeGULL v0.2: Train different strategies to see what is the best path forward for large scale data collection. 
# Note: There is data leakage because of LLM response optimisation and not accounting for it in validation split (ignoring to fix for now due to limited time)
# =================================================================================================
# dataset (eval)
# ------------------------------------------------
datasets_hard_333
# hard333 is divided into disjoint
datasets_justhard_267
datasets_ardulous_66
# dataset ardulous is further hand picked into:
# data/sample/ardulous_nongullible_hardest_13.json
# data/sample/ardulous_gullible_hardest_13.json
# -------------------------------------------------
# checkpoints
probe_checkpoints.withDefense484Only
probe_checkpoints.withDefense484andRegular170
probe_checkpoints.withDefense484Regular170JustHard267
